
*.exe
*.zip
*.hcl
*.tfstate
*.backup

Aws Lambda n Selenium/files/*
!Aws Lambda n Selenium/files/minhaj-selenium-poc.py
!Aws Lambda n Selenium/files/requirements.txt
*.0_x5
.DS_Store

6. lambda read dynamodb/files/*
!6. lambda read dynamodb/files/minhaj-db-reader.py

7. lambda put item dynamodb table/files/*
!6. lambda put item dynamodb table/files/minhaj-db-writer.py
!6. lambda put item dynamodb table/files/requirements.txt
*.1_x5
