
*.exe
*.zip
*.tfstate
*.backup

Aws Lambda n Selenium/files/*
!Aws Lambda n Selenium/files/minhaj-selenium-poc.py
!Aws Lambda n Selenium/files/requirements.txt
*.0_x5
.DS_Store

6. lambda read dynamodb/files/*
!6. lambda read dynamodb/files/minhaj-db-reader.py

7. lambda put item dynamodb table/files/*
!6. lambda put item dynamodb table/files/minhaj-db-writer.py
!6. lambda put item dynamodb table/files/requirements.txt
*.1_x5
1005. Create Dynamodb db/Terraform/.terraform.lock.hcl
1006. lambda read dynamodb/Terraform/.terraform.lock.hcl
1007. lambda put item dynamodb table/Terraform/.terraform.lock.hcl
1008. lambda ec2 waker/Terraform/.terraform.lock.hcl
1012 packer/.terraform.lock.hcl
!1012 packer/aws-ubuntu.pkr.hcl
Aws Lambda n Selenium/Terraform/.terraform.lock.hcl
1014. step function/Terraform/.terraform.lock.hcl
1016. tf read env var/.terraform.lock.hcl
1019. docker-ec2/app/node_modules/*
1019. docker-ec2/Terraform/.terraform.lock.hcl
*.tfstate*
.terraform.*
.terraform
output.json